{% extends 'base.html' %}
{% load static %}

{% block title_tag %}
    Delete Image
{% endblock %}

{% block head_tag %}
    <link href="{% static 'css/images_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body_tag %}
    {% comment %} <form action="{% url 'delete' image.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="button">Delete</button>
    </form>  {% endcomment %}
    <form method="POST">
        {% csrf_token %}
        {% comment %} <img src="{{ image.source.url }}" alt="{{ image.source.name }}" style="width: 24%; height: auto;"/> {% endcomment %}
        <div class="mb-3 container text-center">
            <img id="image" class="my-image img-thumbnail rounded" src="{{ image.source.url }}" alt="{{ image.source.name }}" onclick="openFullscreen();" >
        </div>
        <div class="card mb-5">
            <div class="card-body">
                <p class="fs-3 mb-3">Are you sure the you want to <span style="color: red; font-weight: 900;">DELETE</span> this image?</p>

                <div class="alert alert-danger dashed-border-danger" role="alert">
                    <input class="form-check-input ms-2" type="checkbox" value="" id="id_is_delete_children">
                    <label class="form-check-label ms-3" for="flexCheckDefault">
                        Also delete all processed images.
                    </label>
                </div>

                <div class="mb-3 row row-gap-1">
                    <div class="col-12">
                        <a class="btn btn-outline-success w-100" href="{% url 'images' %}">No! I want to save it!</a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-outline-success w-100" href="{% url 'images' %}">NOOO! Save it!</a>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-outline-success w-100" href="{% url 'images' %}">NOOOOOOOOOOOO! SAAAAAVE IT!!1!</a>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-outline-danger w-100" id="confirm-deletion" type="submit" value="CONFIRM DELETION OF THIS IMAGE!" />
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}

