{% extends 'base.html' %}
{% load static %}

{% block title_tag %}
    Edit Image
{% endblock %}

{% block head_tag %}
    <link href="{% static 'css/images_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="{% static 'js/my_cropper.js' %}"></script>
    <style>
        .img-container {
            max-width: 100%;
            margin: auto;
        }
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block body_tag %}
    <h1>Edit Image</h1>
    <form method="post" enctype="multipart/form-data" id="edit-form">
        {% csrf_token %}
        <div class="img-container">
            <img id="image" style="width: 30%; height: auto;" src="/media/{{ object.original.name }}" alt="Image to edit" />
        </div>
        <div>
            <label for="filter">Choose a filter:</label>
            <select id="filter" name="filter">
                <option value="none">None</option>
                <option value="grayscale">Grayscale</option>
                <option value="sepia">Sepia</option>
                <option value="invert">Invert</option>
            </select>
        </div>
        {{ form }}
        <button type="submit" id="save-changes" class="button">Save Changes</button>
    </form>
    <a class="button" href="{% url 'images' %}">Cancel</a>

    {% comment %} <script>
        const image = document.getElementById('image');
        const saveChangesButton = document.getElementById('save-changes');
        const croppedImageInput = document.getElementById('cropped_image');
        const filterSelect = document.getElementById('filter');

        let cropper;

        image.onload = function() {
            cropper = new Cropper(image, {
                aspectRatio: NaN,
                viewMode: 1,
                autoCropArea: 1,
                responsive: true,
                crop(event) { },
            });
        };

        saveChangesButton.addEventListener('click', function() {
            const canvas = cropper.getCroppedCanvas();
            const data = cropper.getData();
            document.getElementById('id_crop_x').value = Math.round(data.x); 
            document.getElementById('id_crop_y').value = Math.round(data.y);
            document.getElementById('id_crop_width').value = Math.round(data.width);
            document.getElementById('id_crop_height').value = Math.round(data.height);
        });

    </script> {% endcomment %}
{% endblock %}

