{% extends 'base.html' %}
{% load static %}

{% block title_tag %}
    Edit Image
{% endblock %}

{% block head_tag %}
    <link href="{% static 'css/images_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="{% static 'js/my_cropper.js' %}"></script>
    <style>
        .img-container {
            max-width: 100%;
            margin: auto;
        }
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block body_tag %}
    <h1 class="mb-3">Editor</h1>
    <form method="post" enctype="multipart/form-data" id="edit-form">
        {% csrf_token %}
        <div class="img-container mb-3">
            <img id="image" class="current-editing-image" src="{{ object.source.url }}" alt="Image to edit" />
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <label for="filter" class="form-label">Choose a filter:</label>
                <select class="form-select mb-3" id="filter" name="filter">
                    <option value="none" selected>None</option>
                    <option value="grayscale">Grayscale</option>
                    <option value="sepia">Sepia</option>
                    <option value="invert">Invert</option>
                    {% comment %} <option value="blur">Blur</option> {% endcomment %}
                </select>
            </div>
        </div>
        <div class="mb-3 row-cols-2 column-gap-3">
            <button class="btn btn-outline-success col-3" type="submit" id="save-changes">Save Changes</button>
            <a class="btn btn-dark col-2" href="{% url 'images' %}">Cancel</a>
        </div>
        {{ form }}
    </form>
{% endblock %}

