{% extends 'base.html' %}
{% load static %}

{% block title_tag %}
    Edit Image
{% endblock %}

{% block head_tag %}
    <link href="{% static 'css/images_styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <style>
        .img-container {
            max-width: 100%;
            margin: auto;
        }
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block body_tag %}
    <h1>Edit Image</h1>
    <form method="post" enctype="multipart/form-data" id="edit-form">
        {% csrf_token %}
        <div class="img-container">
            <img id="image" style="width: 30%; height: auto;" src="/media/{{ object.original.name }}" alt="Image to edit" />
        </div>
        <div>
            <label for="filter">Choose a filter:</label>
            <select id="filter" name="filter">
                <option value="none">None</option>
                <option value="grayscale">Grayscale</option>
                <option value="sepia">Sepia</option>
                <option value="invert">Invert</option>
            </select>
        </div>
        <div>
            <button type="button" id="crop-button" class="button">Crop Image</button>
        </div>

        <input type="hidden" name="crop_x" id="crop_x">
        <input type="hidden" name="crop_y" id="crop_y">
        <input type="hidden" name="crop_width" id="crop_width">
        <input type="hidden" name="crop_height" id="crop_height">

        {% comment %} 
        <input type="hidden" name="original" accept="image/*" required="" id="id_original"> 
        {% endcomment %}
        <button type="submit" class="button">Save Changes</button>
    </form>
    <a class="button" href="{% url 'images' %}">Cancel</a>

    <script>
        const image = document.getElementById('image');
        const cropButton = document.getElementById('crop-button');
        const croppedImageInput = document.getElementById('cropped_image');
        const filterSelect = document.getElementById('filter');

        let cropper;

        image.onload = function() {
            cropper = new Cropper(image, {
                aspectRatio: NaN,
                viewMode: 1,
                autoCropArea: 1,
                responsive: true,
                crop(event) {
                    
                },
            });
        };

        cropButton.addEventListener('click', function() {
            const canvas = cropper.getCroppedCanvas();
            const data = cropper.getData(); // Получаем данные обрезки
            document.getElementById('crop_x').value = Math.round(data.x); // Сохраняем координату X
            document.getElementById('crop_y').value = Math.round(data.y); // Сохраняем координату Y
            document.getElementById('crop_width').value = Math.round(data.width); // Сохраняем ширину
            document.getElementById('crop_height').value = Math.round(data.height); // Сохраняем высоту
            // croppedImageInput.value = canvas.toDataURL('image/png');
            // Optionally, you can display the cropped image
            // canvas.toBlob((blob) => {
            //     const url = URL.createObjectURL(blob);
            //     // Display the cropped image or upload it
            // });
        });

    </script>
{% endblock %}

