{% extends 'base.html' %}

{% block title_tag %}
    Image - {{ image.source.name }}
{% endblock %}

{% block body_tag %}

{% comment %} 
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout.</button>
    </form>
{% endcomment %}

    <a href="{% url 'images' %}">Back to Image List</a>
    <h1>Image Detail</h1>
    <img id="image" src="{{ image.source.url }}" alt="{{ image.source.name }}" onclick="openFullscreen();" style="max-width: 100%; height: auto;">
    <p>Uploaded at: {{ image.uploaded_at }}</p>
    <p>Edited at: {{ image.edited_at }}</p>
    <p>Uploader: {{ image.uploader.username }}</p>
    <a class="button" href="{% url 'edit' image.pk %}">Edit</a>
    <a class="button" href="{% url 'image-delete' image.pk %}">Delete</a>

    <script>
        // Function to open the image in full screen
        function openFullscreen() {
            const img = document.getElementById("image");
            if (img.requestFullscreen) {
                img.requestFullscreen();
            } else if (img.mozRequestFullScreen) { // Firefox
                img.mozRequestFullScreen();
            } else if (img.webkitRequestFullscreen) { // Chrome, Safari, and Opera
                img.webkitRequestFullscreen();
            } else if (img.msRequestFullscreen) { // IE/Edge
                img.msRequestFullscreen();
            }
        }
    </script>

{% endblock %}

