{% extends "base.html" %}
{% load static %}

{% block title_tag %}
    My Images
{% endblock %}

{% block head_tag %}
    <link href="{% static 'css/images_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body_tag %}
    {% if images|length > 0 %}
        <a class="button" href="{% url 'upload' %}">+ Upload Image</a>
    {% else %}
        <p>No images. Create?</p>
        <!--  TODO: button, block!     -->
        <a class="button" href="{% url 'upload' %}">CREATE!</a>
    {% endif %}
    <div class="container">
        <h1>My Images</h1>
        <div class="gallery">
            {% for image in images %}
                <div class="image-item">

                    {% comment %} TODO: Any better link solution? {% endcomment %}
                    <img src="{{ image.original.url }}" alt="{{ image.original.name }}" />

                    <div class="image-actions">
                        <a class="button" href="{% url 'edit' image.pk %}">Edit</a>
                        <form action="{% url 'delete' image.pk %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="button">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
