{% extends 'base.html' %}

{% block title_tag %}
    Image - {{ image.source.name }}
{% endblock %}

{% block body_tag %}

{% comment %} 
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout.</button>
    </form>
{% endcomment %}

    <a href="{% url 'images' %}">Back to Image List</a>
    <h1>Image Detail</h1>
    <img id="image" src="{{ image.source.url }}" alt="{{ image.source.name }}" onclick="openFullscreen();" style="max-width: 100%; height: auto;">
    <p>Uploaded at: {{ image.uploaded_at }}</p>
    <p>Edited at: {{ image.edited_at }}</p>
    <p>Uploader: {{ image.uploader.username }}</p>
    <p>File format: {{ file_format }}</p>
    <a class="button" href="{% url 'edit' image.pk %}">Edit</a>
    <a class="button" href="{% url 'image-delete' image.pk %}">Delete</a>

    <div class="image-display">
        <div class="processed-images">
            {% for sub_image in processed_images %}
                <a href="{% url 'image-single' sub_image.pk %}">
                    <img src="{{ sub_image.source.url }}" alt="Processed {{ sub_image.source.name }}" />
                </a>
            {% empty %}
                <div class="my-placeholder">
                    <p>No processed image. Edit it!</p>
                </div>
            {% endfor %}
            {% if processed_list|length > 3 %}
            <div class="more-indicator">
                & more!
            </div>
        {% endif %}
        </div>
    </div>   

    <script>
        // Function to open the image in full screen
        function openFullscreen() {
            const img = document.getElementById("image");
            if (img.requestFullscreen) {
                img.requestFullscreen();
            } else if (img.mozRequestFullScreen) { // Firefox
                img.mozRequestFullScreen();
            } else if (img.webkitRequestFullscreen) { // Chrome, Safari, and Opera
                img.webkitRequestFullscreen();
            } else if (img.msRequestFullscreen) { // IE/Edge
                img.msRequestFullscreen();
            }
        }
    </script>

{% endblock %}

