{% extends "base.html" %}
{% load static %}

{% block title_tag %}
    My Images
{% endblock %}

{% block head_tag %}
    <link href="{% static 'css/images_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block body_tag %}
    {% if images|length > 0 %}
        <a class="button" href="{% url 'upload' %}">+ Upload Image</a>
    {% else %}
        <p>No images. Create?</p>
        <a class="button" href="{% url 'upload' %}">CREATE!</a>
    {% endif %}
    <div class="container">
        <h1>My Images</h1>
        <div class="gallery">
            {% for image, processed_list in images_grouped.items %}
                <div class="image-display">
                    <div class="main-image">
                        <img src="{{ image.original.url }}" alt="{{ image.original.name }}" />
                    </div>
                    <div class="processed-images">
                        {% for processed_object in processed_list %}
                            <img src="{{ processed_object.processed.url }}" alt="Processed {{ processed_object.processed.name }}" />
                        {% empty %}
                            <div class="placeholder">
                                <p>No processed image. Edit it!</p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="image-actions">
                        <a class="button" href="{% url 'edit' image.pk %}">Edit</a>
                        <a class="button" href="{% url 'image-delete' image.pk %}">Delete</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
