{% extends 'base.html' %}

{% block title_tag %}
    Upload Image
{% endblock %}

{% block body_tag %}

    <!--  Logout using POST request!  -->
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout.</button>
    </form>

    <h2>Upload your image below.</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

{% endblock %}
